header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0%;
    left: 0%;
    padding-bottom: 20px;
    background-color: #21222A;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 10%;
}

/* List styles */
li {
    font-size: 20px;
    padding: 10px;
}

li::marker {
    color: #61dafb;
}


/* Header Components */
.icon {
    float:left;
    padding-top: 32px;
    padding-left: 20px;
}

.header-title {
    font-size: 24px;
    color: #61dafb;
    padding-left : 60px;
    padding-top : 14px;
    
}

/* Navigation bar */
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list-item {
    font-size: 1.1rem;
    padding-top: 14px;
    margin-right: 14px;
}

/* React Icon */
.background-icon {
position: absolute;
width: 263px;
height: 263px;
left: 213px;
top: 183px;
}
